<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" href="/assets/css/calendar.css">
</head>
<body>
    {{{ body }}}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/signup.js"></script>
    <script type="text/javascript" src="/assets/js/login.js"></script>
    <script src="/assets/js/logout.js"></script>
    <script type="text/javascript" src="/assets/js/calendar.js"></script>
    <script type="text/javascript" src="/assets/js/list.js"></script>
    <script type="text/javascript" src="/assets/js/subscription.js"></script>
    <script type="text/javascript" src="/assets/js/newSubs.js"></script>
    <script type="text/javascript" src="/assets/js/reminder.js"></script>
</body>
</html>