<!-- Top navbar -->
    <!-- Nav to diff pages we may have -->
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
    
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="#">Calendar View</a></li>
                <li><a href="/list">Current Subscriptions</a></li>
                <li><a href="/subscription">Add New Subscription</a></li>

            </ul>
    
        </div>
    </nav>

    <!-- Side navbar -->
    <!-- Settings for calendar organization? -->

    <!-- calander visual -->
    <!-- 5 X 7 grid for calendar, Mon thru Fri, all days -->
  

    <div id="app-calendar"></div>


    <script src="/assets/js/calendar.js"></script>    
