<!-- Top navbar -->
<!-- Nav to diff pages we may have -->
<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/calendar">Calendar View</a></li>
            <li><a href="/list">Current Subscriptions</a></li>
            <li><a href="/subscription">Add New Subscription</a></li>
            <li><a href="/logout"><button>Logout</button></a></li>            
        </ul>

    </div>
</nav>

    <div class="container">
        <div class="calendar">
            <div class="month">
                <i class="fas fa-angle-left previous"></i>
                <div class="date">
                    <h1></h1>
                    <p></p>
                </div>
                <i class="fas fa-angle-right next"></i>
            </div>
            <div class="wrapper weekdays">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
            </div>
            <div class="days">
                
            </div>
        </div>
    </div>

<div id="app-calendar"></div>


