<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li><a href="/calendar">Calendar View</a></li>
            <li class="uk-active"><a href="/list">Current Subscriptions</a></li>
            <li><a href="/subscription">Add New Subscription</a></li>

        </ul>

    </div>
</nav>

<div> Subscriptions List!</div>

<ul>
    {{#each dbSubs}}
    {{this.name}} {{this.amount}} {{this.dueDate}}
    {{/each}}
</ul>