<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Subscription</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css">

</head>
<body>
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="#">Add New Subscription</a></li>
                <li><a href="calendar.html">Calendar View</a></li>
                <li><a href="subscriptions.html">Current Subscriptions</a></li>
            </ul>
        </div>
    </nav>

    <form>
        <fieldset class="uk-fieldset">
    
            <legend class="uk-legend">New Subscription</legend>
    
            <div class="uk-margin">
                <h5>Subscription Name:</h5>
                <input class="sign-up-input uk-input newName uk-width-1-3@m" type="text" placeholder="Input">
            </div>
            <div class="uk-margin">
                <h5>Amount:</h5>
                <input class="sign-up-input newAmount uk-input  uk-width-1-3@m" type="text" placeholder="Input">
            </div>
            <div class="uk-margin">
                <h5>Due Date:</h5>
                <input class="sign-up-input uk-input  uk-width-1-3@m" type="text" placeholder="Input">
            </div>
            <div class="uk-margin uk-width-1-3@m">
                <textarea class="uk-textarea" rows="4" placeholder="Extra Notes"></textarea>
            </div>
            <button id="sub-submit" class="btn btn-lg pull-right">Add Subscription!</button>
   
        </fieldset>
    </form>
</body>
</html>