  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Sign Up Form</h2>
        <form class="login">
          <div class="form-group">
            <label for="exampleInputEmail1">Email Address</label>
            <input type="email" class="input-box" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Create Password</label>
            <input type="password" class="input-box" id="password-input" placeholder="Password">
          </div>
          <p><span><input type="checkbox"></span>I agree to the terms of service</p>
          <button type="submit" class="btn btn-default">Sign Up</button>
        </form>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/login.js"></script>